body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.menu,
.header {
  background-color: #1f2937;
}

.citation {
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-citation {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 72px;
  background-color: #1f2937;
  color: #f9faf8;
}
